<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emily Grey</title>
</head>
<body>
  <% images.forEach(function (image) { %>
      <img src="<%= image %>" alt="">
  <% }); %>
</body>
</html>